.nav {
    grid-area: n;
    background-color: blanchedalmond;
    padding: 20px;
}
.item a {
    color: darkorange;
    text-decoration: none;
}

.item a.activeLink {
    color: darkslateblue;
    font-size: 20px;
}

